html, body
{
	width: 100%;
}

body
{
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
}

.page-id
{
	font-family: Impact;
	color: #eee;	
}

.page-id:hover
{
	color: #555555;
}

.center-align
{
    text-align: center;
    margin: auto;
}

.download-block
{
    font-size: 150%;
    font-weight: 600;
    letter-spacing: 1px;
}
